@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;800&display=swap');

:root {
    --background-pink: #FFF5F8;
    --white: #fff;
    --purple: #4D4C7D;
    --lavender: #827397;
}

body {
    background-color: var(--background-pink);
    font-family: 'Montserrat', 'Segoe UI', Arial;
}

#neutralinoapp {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

#neutralinoapp h1{
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#neutralinoapp > div {
    font-size: 16px;
    font-weight: normal;
}

#neutralinoapp img {
    margin-bottom: 30px;
}

.content {
    background-color: var(--white);
    width: 30em;
    height: 30em;
    margin: auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.26); 
    box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.26);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.borrowing-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.borrowing-menu h2 {
    transition: all 0.3s ease-in-out;
}

.borrowing-menu h2:hover {
    color: var(--lavender);
}

.selected-menu {
    border-bottom: 2px solid var(--lavender);
}

.select {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

select {
    border-radius: 6px;
    border: 1px solid var(--purple);
    font-family: 'Montserrat', 'Segoe UI', Arial;
    padding: 5px;
    padding-right: 40px;
}

canvas {
    border: 2px solid var(--purple);
    border-radius: 6px;
    width: 25em;
    height: 12em;
}

button {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border: 2px solid var(--purple);
    font-size: 18px;
    font-family: 'Montserrat', 'Segoe UI', Arial;
    padding: 5px;
    background: #fff;
}

button:hover {
    background: var(--lavender);
}
